@import "tailwindcss";

:root {
  /* Warm Safari Palette */
  --color-primary: #e07a5f; /* Terracotta */
  --color-accent: #3d5a80; /* Deep Blue */
  --color-neutral: #f2e8cf; /* Sand/Beige */
  --color-success: #4caf50; /* Trust Green */

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-neutral: var(--color-neutral);
  --color-success: var(--color-success);

  --font-sans: var(--font-poppins), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
